body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    width: 50%;
    height: 50%;
    padding: 100px;
}

#graph {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 500px;
}