body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 100px;
}

#graph {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}