.dashBar {
	margin-top: 20px;
	background: linear-gradient(to right, #eaf4e8 0px, #eaf4e8 20%, #fff 20%, #fff 100%);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: space-around;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Poppins', sans-serif;
	border: 1px solid black;
	border-radius: 15px;
}

.dashBar h1 {
	margin-left: 0;
	display: none;
	color: black;
	width: 40%;
	font-size: 24px;
	line-height: 30px;
	height: 0px;
	text-align: center;
	font-weight: normal;
}

.group
{
	padding-left: 10px;
	border: none;
	border-radius: 15px;
	line-height: 30px;
	width: 80%;
} 

.groupname {
	text-align: center !important;
	width: 90% !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.submissions {
	text-align: left;
	float: left;
	padding-top: 40px;
}

.code {
	text-align: right;
	float: right;
	padding-top: 40px;
}

.graph
{
	height: 200px;
	width: 200px;
	background-color: transparent;
}

.generateGroups
{
	float: right !important;
	height: 40px !important;
	width: auto !important;
	margin-left: -50px !important;
	margin-top: -195px !important;
}

.deleteForm
{
	float: right !important; 
	height: 40px !important; 
	width: auto !important;
	margin-left: -50px !important;
	margin-top: -145px !important;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 97%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 20px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
	.dashBar h1 { display: inline-block; }
	.dashBar input { border-radius: 0; }
	header { font-size: 1.35em; }
	h1 { font-size: 1.2em; }
}

@media only screen and (min-width: 1200px) {
	.dashBar { width: 90%; }
	.dashBar h1 {
		text-align: left;
		margin-left: 20px;
	}
	header { font-size: 1.6em; }
	h1 { font-size: 1.4em; }
}

@media only screen and (min-width: 1600px) {
	.dashBar { width: 80%; }
	.dashBar h1 { margin-left: 30px; }
}