@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.groups {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.group {
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "name groups";
    border-radius: 20px;
    margin-top: 20px;
    min-width: 400px;
    width: 40%;
    min-height: 200px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    border: 1px solid black;
    background: linear-gradient(to right, #eaf4e8, #eaf4e8 50px, white 50px, white);
}

.group>header {
    float: left;
    font-family: 'Montserrat', sans-serif;
    transform: rotate(90deg);
    grid-area: name;
    width: 200px;
    margin-left: -80px;
    margin-top: 95px;
    height: 30px;
    text-align: center;
    font-size: 30px;
}

.group>table {
    grid-area: groups;
    width: calc(100% - 40px);
    border: collapse;
    float: right;
    text-align: center;
    background-color: white;
}

.group>table tr {
    width: 100%;
    height: 40px;
}

.group td {
    padding-left: 4px;
    padding-right: 4px;
}

body>main>article>header {
    min-height: 150px;
    line-height: 150px;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #eaf4e8;
}

body>main>article>section {
    padding: 5px;
}