.feature
{
	height: 50px;
	width: auto;
	display: inline-block;
}

.iconGroup
{
	width : 100%;
	min-height: 500px;
	height : auto;
	margin : 0 auto;
	margin-top: 100px;
	padding : 5px;
	display : flex;
	justify-content : space-between;
}

.iconGroup img {
	background-color: #3581b8;
	border-radius: 50%;
	padding: 10px;
}

.iconGroup div {
	width: 30%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}

.iconGroup p {
	width: 100%;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-align: justify;
}

@keyframes colorShow {
	from { color: white; }
	to { color: black; }
}

header {
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 1.2em;
}

header>h1, header>h2 {
	margin: 0;
	padding: 0;
}

header>img {
	transform: rotate(300deg);
	height: 150px;
	margin: 0;
	padding: 0;
}

#searchBar {
	margin-top: 20px;
	background: linear-gradient(to right, #eaf4e8 0px, #eaf4e8 30%, #fff 30%, #fff 100%);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: space-around;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Poppins', sans-serif;
	border: 1px solid black;
	border-radius: 15px;
}

#searchBar h1 {
	margin-left: 0;
	display: none;
	color: black;
	width: 30%;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	height: 30px;
	text-align: center;
}

#searchBar input {
	font-size: 18px;
	padding-left: 10px;
	border: none;
	border-radius: 15px;
	line-height: 30px;
	width: 70%;
}

#searchBar img {
	height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

article {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

h3 {
	font-size: 1em;
}

section>p {
	display: inline-block;
	text-align: left;
	line-height: 30px;
}

@media only screen and (min-width: 800px) {
	#searchBar h1 { display: inline-block; }
	#searchBar input { border-radius: 0; }
	header { font-size: 1.35em; }
	header>img { height: 200px; }
	h3 { font-size: 1.2em; }
}

@media only screen and (min-width: 1200px) {
	#searchBar { width: 90%; }
	#searchBar h1 {
		text-align: left;
		margin-left: 20px;
	}
	header { font-size: 1.6em; }
	header>img { height: 230px;}
	h3 { font-size: 1.4em; }
}

@media only screen and (min-width: 1600px) {
	#searchBar { width: 80%; }
	#searchBar h1 { margin-left: 30px; }
}