.subHeader
{
	height: 50%;
	padding: 0px;
	text-align: center;
	background: #85D266;
	color: white;
	/* font-size: 30px; */
	margin-right: calc(76.5% - 100%);
	margin-left: calc(76.5% - 100%);
}

@media only screen and (max-width: 900px) {
	.subHeader {display: none;}
}

.feature
{
	height: 50px;
	width: auto;
	display: inline-block;
}

.iconGroup
{
	width : 100%;
	min-height: 500px;
	height : auto;
	margin : 0 auto;
	margin-top: 100px;
	padding : 5px;
	display : flex;
	justify-content : space-between;
}

.iconGroup img {
	background-color: #3581b8;
	border-radius: 50%;
	padding: 10px;
}

.iconGroup div {
	width: 30%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}

.iconGroup p {
	width: 100%;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-align: justify;
}

#startText
{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	display: inline-block;
}

.disableSelect
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#slideText
{
	line-height: 120px;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	display: inline-block;
	-moz-transform:translateY(100%);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-moz-animation: scroll-up 3s linear infinite;
	-webkit-animation: scroll-up 3s linear infinite;
	animation: scroll-up 3s linear infinite;
}

/* 
shouldnt be necessary in css3
@-moz-keyframes scroll-up {
	0% { -moz-transform: translateY(100%); }
	47% { -moz-transform: translateY(0%); }
	53% { -moz-transform: translateY(0%); }
	100% { -moz-transform: translateY(-100%); }
}

@-webkit-keyframes scroll-up {
	0% { -webkit-transform: translateY(100%); }
	47% { -webkit-transform: translateY(0%); }
	53% { -webkit-transform: translateY(0%); }
	100% { -webkit-transform: translateY(-100%); }
} */

@keyframes scroll-up {
	0% {
		-moz-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	47% {
		transform: translateY(0%);

	}
	53% {
		transform: translateY(0%);
	}
	100% {
		-moz-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

#aboutText
{
	padding-top: 15px;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	text-align: center;
	padding-bottom: 15px;
}