/* Dealing with chromes messed up styling */
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: white;
}

.login {
    z-index: 98;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: fixed;
    background-color: rgba(025,025,025,0.2);
}

.login>form  {
    width: 400px;
    height: 205px;
    margin: auto;
    background-color: var(--loginColor);
    border-radius: 10px;
}
.login>form button:nth-child(1){
    border: none;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.login>form input:nth-child(2) {
    margin-top: 50px;
}

.login>form>input {
    display: block;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 30px;
}

.login>form input:nth-child(4){
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    width: 70px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: transparent;
}

.login>form input:nth-child(5){
    margin-top: 30px;
    display: inline-block;
    border-radius: 10px;
    border: none;
    width: 70px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: transparent;
}

.register {
    z-index: 98;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    position: fixed;
    background-color: rgba(025,025,025,0.2);
}

.register>form  {
    padding: 5px;
    width: 400px;
    height: 395px;
    margin: auto;
    background-color: var(--loginColor);
    border-radius: 10px;
}

.register>form button:nth-child(1){
    border: none;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.register>form input:nth-child(2) {
    margin-top: 50px;
}

.register>form>input {
    display: block;
    border: none;
    border-radius: 10px;
    clear: both;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    padding-left: 10px;

}

.register>form input:nth-child(7){
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    width: 70px;
    height: 30px;
    text-align: center;
    color: black;
}

.register>form input:nth-child(8){
    margin-top: 30px;
    display: inline-block;
    border-radius: 10px;
    border: none;
    width: 70px;
    height: 30px;
    text-align: center;
    color: black;
}

.register>form input:nth-child(7){
    margin-top: 30px;
    display: inline-block;
    border-radius: 10px;
    border: none;
    width: 70px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: transparent;
}