:root {
    --navbarColor: #3581b8;
    --lowerNavColor: #eaf4e8;
    --mainColor: #ffffff;
    --searchColor: #eee;
    --testColor: red;
    --sidePadding: 16%;
    --loginColor: #eee;
    --footerColor: #96939b;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
        "top"
        "bottom"
    ;
}

footer
{
	height: 50px;
	text-align: center;
	background: #333;
	color: white;
	/* font-size: 30px; */
	margin-top: 30px;
	margin-right: calc(76.5% - 100%);
	margin-left: calc(76.5% - 100%);
}

/** php data */
body>nav>p {
    display: none;
}

body>nav {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    grid-area: top;
    width: calc(68%);
    height: 70px;
    padding-left: var(--sidePadding);
    padding-right: var(--sidePadding);
    background-color: var(--navbarColor);
}

body>nav>section {
    display: flex;
    justify-content: space-around;
    width: 340px;
}

body>nav a img {
    height: 50px;
    margin-top: 10px;
}

body>nav>section a img{
    height: 40px;
    margin-top: 15px;
}

body>nav>section>form>input {
    margin-top: 20px;
    width: 180px;
    height: 20px;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    border: none;
    background-color: var(--searchColor);
    float: right;
}

body>main {
    grid-area: bottom;
    padding-left: var(--sidePadding);
    padding-right: var(--sidePadding);
    min-height: 1000px;
    background-color: var(--mainColor);
}