/*
    General Settings, HTML native tags
*/
html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

p {
    color: red;
    font-style: italic;
}
/*
    Header and Navigation Bar
*/
.siteHeader {
    width: 100%;
    background-color: rgb(99, 185, 104);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.logoWrapper {
    vertical-align: middle;
    height: 80px;
    float: left;
}

#logo {
    height: 80px;
}

    #logo:hover {
        cursor: pointer;
    }

.navBtn {
    font-size: 30px;
    padding: 35px 20px;
    float: left;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

    .navBtn:hover {
        background-color: rgb(132, 165, 167);
    }
/*
    Main Content
*/
/* For Homepage */
.mainContent {
    width: 50%;
    float: left;
}

.noLeftSidebar {
    margin-left: 25%;
}

.formList {
    list-style: none;
    padding: 0;
}

.formList li {
    padding: 10px 5px;
}

.formList li:nth-child(even) {
    background-color: rgb(245, 250, 245);
    transition: 0.3s;
}

.formList li:nth-child(odd) {
    transition: 0.3s;
}

    .formList li:nth-child(even):hover {
        background-color: rgb(225, 237, 226);
    }

    .formList li:nth-child(odd):hover {
        background-color: rgb(225, 237, 226);
    }
/* For Form Creation */
form {
    max-width: 700px;
}

h2 {
    text-align: center;
}

input[type="text"], input[type="number"] {
    padding: 12px 20px;
}

input[type="text"],
input[type="number"],
select {
    background: rgba(255,255,255,0.1);
    border: none; 
    font-size: 16px;
    height: auto;
    width: 100%;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
}

input[type="date"] {
    background: rgba(255,255,255,0.1);
    padding: 12px 20px;
    border: none; 
    font-size: 16px;
    height: auto;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
}

label {
    display: block;
    padding-bottom: 8px;
}

input:focus, textarea:focus {
    box-shadow:  0 0 5px rgba(81,203,238,1);
    border: 1 px lightblue;
}

legend {
    display: block;
    margin-bottom: 8px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}


.section {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgb(225, 237, 226);
    border-radius: 100%;
 }

#submitButton {
    padding: 19px 39px 18px 39px;
    background-color: rgb(225, 237, 226);
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px rgb(225, 237, 226);
    margin-bottom: 50px;
 }

 button {
    margin-bottom: 10px;
 }

/*
    Sidebar
*/
.leftSidebar {
    width: 25%;
    float: left;
}

.rightSidebar {
    width: 25%;
    float: left;
}

.bodyLeft {
    text-align: left;
    font-size: 1.5em;
}
.bodyRight {
    float: right;
    font-size: 1.5em;
}
.bodyCenter {
    text-align: center;
    font-size: 1.5em;
}
.error {
    float: left;
    font-style: italic;
    font-variant: small-caps;
    font-size: 1.8em;
}
/*
    Unversal Style
*/
.clearfix {
    content: "Something";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}